button {
    background-color: #0D25FE;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0013BF;
}

button:disabled {
    background-color: #939EFF;
    cursor: not-allowed;
}
