.menu {
    width: 74px;
    height: 100%;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
    justify-content: space-between;
}

.menu-expanded {
    width: 200px;
}

.menu-header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    flex-direction: column;
    height: 100%;
}

.menu-header h2 {
    color: var(--text);
    margin: 0;
    font-size: 18px;
    text-align: left;
}

.menu-toggle-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
    filter: var(--icon-filter, none);
    transition: filter 0.3s ease;
}

.menu-content {
    margin-top: 40px;
    width: 100%;
}

.menu-items-container {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 100%;
    justify-content: space-between;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-item:hover {
    background-color: var(--background-hover, #A7A7A7);
}

.menu-item img {
    width: 24px;
    height: 24px;
    filter: var(--icon-filter, none);
    transition: filter 0.3s ease;
}

.menu-item-label {
    font-size: 14px;
    font-weight: bold;
    color: var(--text);
    opacity: 0;
    transition: opacity 0.3s ease, color 0.3s ease;
    padding-left: 40px;
}

.menu-expanded .menu-item-label {
    opacity: 1;
}

.menu-item span {
    font-size: 14px;
    font-weight: bold;
    color: var(--text);
    opacity: 0;
    transition: opacity 0.3s ease, color 0.3s ease;
}

.logout-expanded {
    background-color: var(--background-secondary, #A7A7A7);
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.logout-expanded:hover {
    background-color: var(--background-hover, #d6d6d6);
}

.mobile-menu-icon {
    display: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 10px 20px;
}

.mobile-menu-item img,
.mobile-menu-icon img {
    width: 20px;
    height: 20px;
    filter: var(--icon-filter, none);
}

.mobile-menu {
    position: absolute;
    width: auto;
    height: auto;
    background-color: var(--background);
    padding: 10px 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    z-index: 1;
}

.mobile-menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mobile-menu-item:hover {
    background-color: var(--background-hover, #A7A7A7);
    border-radius: 8px;
}

.mobile-menu-item span {
    color: var(--text);
    font-size: 14px;
    font-weight: bold;
}

/*
  responsive design
  */

@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu {
        display: flex;
    }
}

@media (min-width: 769px) {
    .mobile-menu-icon {
        display: none;
    }

    .mobile-menu {
        display: none;
    }
}
