/* Estilos principales del menú */
.menu {
    width: 74px;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease;
    overflow: hidden;
    padding: 14px;
}

.menu-expanded {
    width: 200px;
}

.menu-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

.menu-header h2 {
    margin: 0;
    font-size: 18px;
    text-align: left; 
}

.menu-toggle-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
    padding: 10px;
}


.menu-content {
    margin-top: 30px;
    width: 100%;
}

.menu-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding-bottom: 14px;
    
}

.menu-item img {
    width: 24px;
    height: 24px;
}

.menu-item-label {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding-left: 20px;
}

.menu-expanded .menu-item-label {
    opacity: 1;
}

.menu-item span {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.logout-expanded {
    background-color: #A7A7A7;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.logout-expanded:hover {
    background-color: #d6d6d6;
}